Repository visulima/visulima, changes with the labels that .github/labeler.yml gives for each.
All labels: package: ansi, package: api-platform, package: boxen, package: cerebro, package: colorize, package: connect, package: crud, package: deep-clone, package: error, package: find-cache-dir, package: fmt, package: fs, package: health-check, package: humanizer, package: inspector, package: is-ansi-color-supported, package: jsdoc-open-api, package: object, package: package, package: pagination, package: pail, package: path, package: prisma-dmmf-transformer, package: redact, package: source-map, package: string, package: tabular, package: tsconfig

chore(string): update package.json to add new alignment keywords and modify build scripts
  packages/string/package.json
Labels: package: string

chore: update pnpm-lock.yaml to add new fixture and remove unused dependencies
  pnpm-lock.yaml
Labels: none

chore(release): @visulima/string@1.3.0 [skip ci]\n\n## @visulima/string [1.3.0](https://github.com/visulima/visulima/compare/@visulima/string@1.2.3...@visulima/string@1.3.0) (2025-05-31)
  packages/string/CHANGELOG.md
  packages/string/package.json
Labels: package: string

Notes added by 'git notes add'
  1c9d0959b3467fc47a1cf80386dfa4cbefb14d8e
Labels: none

chore(release): @visulima/tabular@1.0.6 [skip ci]\n\n## @visulima/tabular [1.0.6](https://github.com/visulima/visulima/compare/@visulima/tabular@1.0.5...@visulima/tabular@1.0.6) (2025-05-31)
  packages/tabular/CHANGELOG.md
  packages/tabular/package.json
Labels: package: tabular

Notes added by 'git notes add'
  07d2e4a07eb12c37f68edf81f2ecde88eda79e84
Labels: none

chore: updated lock file [ci skip]
  pnpm-lock.yaml
Labels: none

feat(boxen): changing some libs to @visulima/string
  packages/boxen/.eslintignore
  packages/boxen/.prettierignore
  packages/boxen/.prettierrc.cjs
  packages/boxen/__tests__/unit/align.test.ts
  packages/boxen/package.json
  packages/boxen/packem.config.ts
  packages/boxen/src/align.ts
  packages/boxen/src/index.ts
  packages/boxen/src/widest-line.ts
  pnpm-lock.yaml
Labels: package: boxen

feat(string): implement BREAK_WORDS wrap mode for word wrapping functionality
  packages/string/__tests__/unit/word-wrap.test.ts
  packages/string/src/utils/ansi-state-tracker.ts
  packages/string/src/word-wrap.ts
Labels: package: string

chore(release): @visulima/string@1.4.0 [skip ci]\n\n## @visulima/string [1.4.0](https://github.com/visulima/visulima/compare/@visulima/string@1.3.0...@visulima/string@1.4.0) (2025-05-31)
  packages/string/CHANGELOG.md
  packages/string/package.json
Labels: package: string

Notes added by 'git notes add'
  471bc4e294315a831968f4d1bf21039b9dcba95a
Labels: none

chore(release): @visulima/tabular@1.0.7 [skip ci]\n\n## @visulima/tabular [1.0.7](https://github.com/visulima/visulima/compare/@visulima/tabular@1.0.6...@visulima/tabular@1.0.7) (2025-05-31)
  packages/tabular/CHANGELOG.md
  packages/tabular/package.json
Labels: package: tabular

Notes added by 'git notes add'
  8264d5d2dea1c4a886d7cc3b079763c184a1b4bc
Labels: none

fix(string): add align-text and word-wrap modules to package.json
  packages/string/package.json
  packages/string/src/word-wrap.ts
Labels: package: string

chore: updated lock file [ci skip]
  pnpm-lock.yaml
Labels: none

chore(release): @visulima/string@1.4.1 [skip ci]\n\n## @visulima/string [1.4.1](https://github.com/visulima/visulima/compare/@visulima/string@1.4.0...@visulima/string@1.4.1) (2025-05-31)
  packages/string/CHANGELOG.md
  packages/string/package.json
Labels: package: string

Notes added by 'git notes add'
  40dea9daf3c751763ff4f906790ad095fe7be10f
Labels: none

chore(release): @visulima/tabular@1.0.8 [skip ci]\n\n## @visulima/tabular [1.0.8](https://github.com/visulima/visulima/compare/@visulima/tabular@1.0.7...@visulima/tabular@1.0.8) (2025-05-31)
  packages/tabular/CHANGELOG.md
  packages/tabular/package.json
Labels: package: tabular

Notes added by 'git notes add'
  2bfbbd88b987655fd329e79aaec3cf5f2416039c
Labels: none

chore: updated lock file [ci skip]
  pnpm-lock.yaml
Labels: none

chore(boxen): update @visulima/string to version 1.4.1 and add example scripts
  packages/boxen/LICENSE.md
  packages/boxen/__tests__/unit/__snapshots__/index.test.ts.snap
  packages/boxen/examples/basic.js
  packages/boxen/examples/long-text.js
  packages/boxen/examples/text-alignment.js
  packages/boxen/examples/text-color.js
  packages/boxen/package.json
  packages/boxen/src/index.ts
  pnpm-lock.yaml
Labels: package: boxen

docs(boxen): update README for clarity and consistency
  packages/boxen/README.md
Labels: package: boxen

Update packages/boxen/src/widest-line.ts
  packages/boxen/src/widest-line.ts
Labels: package: boxen

chore: update pnpm-lock.yaml to add new fixture and remove duplicate entry for @visulima/string
  pnpm-lock.yaml
Labels: none

Update packages/boxen/package.json
  packages/boxen/package.json
Labels: package: boxen

feat(boxen): update LICENSE and add benchmarks for performance comparison
  packages/boxen/__bench__/index.bench.ts
  packages/boxen/__bench__/package.json
  packages/boxen/package.json
  packages/boxen/src/index.ts
Labels: package: boxen

feat(boxen): upgrade @visulima/string to version 1.4.0 and implement BREAK_WORDS wrap mode
  packages/boxen/src/index.ts
  pnpm-lock.yaml
Labels: package: boxen

feat(boxen): refactor ESLint configuration and update examples
  packages/boxen/.eslintrc.cjs
  packages/boxen/__bench__/index.bench.ts
  packages/boxen/__bench__/package.json
  packages/boxen/__tests__/helpers.ts
  packages/boxen/__tests__/unit/border-option.test.ts
  packages/boxen/__tests__/unit/fullscreen-option.test.ts
  packages/boxen/__tests__/unit/index.test.ts
  packages/boxen/__tests__/unit/text-option.test.ts
  packages/boxen/eslint.config.js
  packages/boxen/examples/basic.js
  packages/boxen/examples/long-text.js
  packages/boxen/examples/text-alignment.js
  packages/boxen/examples/text-color.js
  packages/boxen/src/index.ts
  packages/boxen/src/types.ts
  packages/boxen/src/widest-line.ts
  packages/boxen/tsconfig.json
  pnpm-lock.yaml
Labels: package: boxen

chore(ansi): remove unused prettier linting scripts from package.json
  packages/ansi/package.json
Labels: package: ansi

.github/labeler.yml:

'package: ansi':
  - 'packages/ansi/**/*'
'package: api-platform':
  - 'packages/api-platform/**/*'
'package: boxen':
  - 'packages/boxen/**/*'
'package: cerebro':
  - 'packages/cerebro/**/*'
'package: colorize':
  - 'packages/colorize/**/*'
'package: connect':
  - 'packages/connect/**/*'
'package: crud':
  - 'packages/crud/**/*'
'package: deep-clone':
  - 'packages/deep-clone/**/*'
'package: error':
  - 'packages/error/**/*'
'package: find-cache-dir':
  - 'packages/find-cache-dir/**/*'
'package: fmt':
  - 'packages/fmt/**/*'
'package: fs':
  - 'packages/fs/**/*'
'package: health-check':
  - 'packages/health-check/**/*'
'package: humanizer':
  - 'packages/humanizer/**/*'
'package: inspector':
  - 'packages/inspector/**/*'
'package: is-ansi-color-supported':
  - 'packages/is-ansi-color-supported/**/*'
'package: jsdoc-open-api':
  - 'packages/jsdoc-open-api/**/*'
'package: object':
  - 'packages/object/**/*'
'package: package':
  - 'packages/package/**/*'
'package: pagination':
  - 'packages/pagination/**/*'
'package: pail':
  - 'packages/pail/**/*'
'package: path':
  - 'packages/path/**/*'
'package: prisma-dmmf-transformer':
  - 'packages/prisma-dmmf-transformer/**/*'
'package: redact':
  - 'packages/redact/**/*'
'package: source-map':
  - 'packages/source-map/**/*'
'package: string':
  - 'packages/string/**/*'
'package: tabular':
  - 'packages/tabular/**/*'
'package: tsconfig':
  - 'packages/tsconfig/**/*'
