Repository visulima/visulima, changes with the labels that .github/labeler.yml gives for each.
All labels: package: ansi, package: api-platform, package: boxen, package: cerebro, package: colorize, package: connect, package: crud, package: deep-clone, package: error, package: find-cache-dir, package: fmt, package: fs, package: health-check, package: humanizer, package: inspector, package: is-ansi-color-supported, package: jsdoc-open-api, package: object, package: package, package: pagination, package: pail, package: path, package: prisma-dmmf-transformer, package: redact, package: source-map, package: string, package: tabular, package: tsconfig

chore(fs): add benchmarking for file operations and find-up functionality
  packages/fs/LICENSE.md
  packages/fs/README.md
  packages/fs/__bench__/.gitignore
  packages/fs/__bench__/file-ops.bench.ts
  packages/fs/__bench__/find-up.bench.ts
  packages/fs/__bench__/package.json
  packages/fs/__bench__/scripts/create-fixtures.mjs
  packages/fs/__bench__/walk.bench.ts
  packages/fs/__tests__/unit/find/walk.test.ts
  packages/fs/src/size.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: package: fs

chore: updated lock file [ci skip]
  pnpm-lock.yaml
Labels: none

fix(string): move postinstall scrip into a command
  packages/string/package.json
  packages/string/scripts/generate-charmap.mjs
Labels: package: string

fix(apps/docs): update dependencies
  apps/docs/package.json
Labels: none

fix(apps/storybook): update dependencies
  apps/storybook/package.json
Labels: none

chore(examples/api-platform/express): update devDependencies
  examples/api-platform/express/package.json
Labels: none

fix(examples/colorize/next15): update dependencies
  examples/colorize/next15/package.json
Labels: none

chore(examples/colorize/node): update devDependencies
  examples/colorize/node/package.json
Labels: none

fix(root): update dependencies
  package.json
Labels: none

fix(ansi): update dependencies
  packages/ansi/package.json
Labels: package: ansi

fix(api-platform-fixture-express): update dependencies
  packages/api-platform/__fixtures__/framework/express/package.json
Labels: package: api-platform

fix(api-platform-fixture-fastify): update dependencies
  packages/api-platform/__fixtures__/framework/fastify/package.json
Labels: package: api-platform

fix(api-platform-fixture-next): update dependencies
  packages/api-platform/__fixtures__/framework/next/package.json
Labels: package: api-platform

fix(api-platform): update dependencies
  packages/api-platform/package.json
Labels: package: api-platform

fix(boxen): update dependencies
  packages/boxen/package.json
Labels: package: boxen

fix(cerebro): update dependencies
  packages/cerebro/package.json
Labels: package: cerebro

chore(colorize-bench): update devDependencies
  packages/colorize/__bench__/package.json
Labels: package: colorize

fix(colorize): update dependencies
  packages/colorize/package.json
Labels: package: colorize

fix(connect): update dependencies
  packages/connect/package.json
Labels: package: connect

fix(crud): update dependencies
  packages/crud/package.json
Labels: package: crud

chore(deep-clone): update devDependencies
  packages/deep-clone/package.json
Labels: package: deep-clone

fix(error): update dependencies
  packages/error/package.json
Labels: package: error

fix(find-cache-dir): update dependencies
  packages/find-cache-dir/package.json
Labels: package: find-cache-dir

chore(fmt): update devDependencies
  packages/fmt/package.json
Labels: package: fmt

chore(fs-bench): update devDependencies
  packages/fs/__bench__/package.json
Labels: package: fs

fix(fs): update dependencies
  packages/fs/package.json
Labels: package: fs

fix(health-check): update dependencies
  packages/health-check/package.json
Labels: package: health-check

fix(humanizer): update dependencies
  packages/humanizer/package.json
Labels: package: humanizer

chore(inspector-bench): update devDependencies
  packages/inspector/__bench__/package.json
Labels: package: inspector

fix(inspector): update dependencies
  packages/inspector/package.json
Labels: package: inspector

fix(is-ansi-color-supported): update dependencies
  packages/is-ansi-color-supported/package.json
Labels: package: is-ansi-color-supported

fix(jsdoc-open-api): update dependencies
  packages/jsdoc-open-api/package.json
Labels: package: jsdoc-open-api

chore(object): update devDependencies
  packages/object/package.json
Labels: package: object

fix(package-fixture-pkg-json): update dependencies
  packages/package/__fixtures__/package-json/package.json
Labels: package: package

chore(package-fixture-ws-bad): update fixture
  packages/package/__fixtures__/workspaces/bad/package.json
Labels: package: package

fix(package): update dependencies
  packages/package/package.json
Labels: package: package

chore(pagination): update devDependencies
  packages/pagination/package.json
Labels: package: pagination

chore(pail-bench): update devDependencies
  packages/pail/__bench__/package.json
Labels: package: pail

fix(pail): update dependencies
  packages/pail/package.json
Labels: package: pail

fix(path): update dependencies
  packages/path/package.json
Labels: package: path

.github/labeler.yml:

'package: ansi':
  - 'packages/ansi/**/*'
'package: api-platform':
  - 'packages/api-platform/**/*'
'package: boxen':
  - 'packages/boxen/**/*'
'package: cerebro':
  - 'packages/cerebro/**/*'
'package: colorize':
  - 'packages/colorize/**/*'
'package: connect':
  - 'packages/connect/**/*'
'package: crud':
  - 'packages/crud/**/*'
'package: deep-clone':
  - 'packages/deep-clone/**/*'
'package: error':
  - 'packages/error/**/*'
'package: find-cache-dir':
  - 'packages/find-cache-dir/**/*'
'package: fmt':
  - 'packages/fmt/**/*'
'package: fs':
  - 'packages/fs/**/*'
'package: health-check':
  - 'packages/health-check/**/*'
'package: humanizer':
  - 'packages/humanizer/**/*'
'package: inspector':
  - 'packages/inspector/**/*'
'package: is-ansi-color-supported':
  - 'packages/is-ansi-color-supported/**/*'
'package: jsdoc-open-api':
  - 'packages/jsdoc-open-api/**/*'
'package: object':
  - 'packages/object/**/*'
'package: package':
  - 'packages/package/**/*'
'package: pagination':
  - 'packages/pagination/**/*'
'package: pail':
  - 'packages/pail/**/*'
'package: path':
  - 'packages/path/**/*'
'package: prisma-dmmf-transformer':
  - 'packages/prisma-dmmf-transformer/**/*'
'package: redact':
  - 'packages/redact/**/*'
'package: source-map':
  - 'packages/source-map/**/*'
'package: string':
  - 'packages/string/**/*'
'package: tabular':
  - 'packages/tabular/**/*'
'package: tsconfig':
  - 'packages/tsconfig/**/*'
