Repository visulima/visulima, changes with the labels that .github/labeler.yml gives for each.
All labels: package: ansi, package: api-platform, package: boxen, package: cerebro, package: colorize, package: connect, package: crud, package: deep-clone, package: error, package: find-cache-dir, package: fmt, package: fs, package: health-check, package: humanizer, package: inspector, package: is-ansi-color-supported, package: jsdoc-open-api, package: object, package: package, package: pagination, package: pail, package: path, package: prisma-dmmf-transformer, package: redact, package: source-map, package: string, package: tabular, package: tsconfig

chore: lock update
  pnpm-lock.yaml
Labels: none

fix(ansi): update ESLint configuration and enhance unit tests
  packages/ansi/__tests__/unit/mode.test.ts
  packages/ansi/__tests__/unit/status.test.ts
  packages/ansi/eslint.config.js
  packages/ansi/src/index.ts
  packages/ansi/src/iterm2/iterm2-sequences.ts
  packages/ansi/src/status.ts
Labels: package: ansi

chore(ansi): update dependencies and improve type annotations
  package.json
  packages/ansi/LICENSE.md
  packages/ansi/package.json
  packages/ansi/packem.config.ts
  packages/ansi/src/alternative-screen.ts
  packages/ansi/src/clear.ts
  packages/ansi/src/constants.ts
  packages/ansi/src/cursor.ts
  packages/ansi/src/erase.ts
  packages/ansi/src/helpers.ts
  packages/ansi/src/index.ts
  packages/ansi/src/iterm2/iterm2-props.ts
  packages/ansi/src/mode.ts
  packages/ansi/src/mouse.ts
  packages/ansi/src/passthrough.ts
  packages/ansi/src/reset.ts
  packages/ansi/src/scroll.ts
  packages/ansi/src/sixel.ts
  packages/ansi/src/sixel/color.ts
  packages/ansi/src/sixel/decoder.ts
  packages/ansi/src/sixel/raster.ts
  packages/ansi/src/status.ts
  packages/ansi/src/termcap.ts
  packages/ansi/src/ts-reset.d.ts
  packages/ansi/src/window-ops.ts
  packages/ansi/src/xterm.ts
  pnpm-lock.yaml
Labels: package: ansi

test(ansi): refactor unit tests and improve color decoding logic
  packages/ansi/__tests__/unit/clear.test.ts
  packages/ansi/__tests__/unit/sixel-color.test.ts
  packages/ansi/__tests__/unit/status.test.ts
  packages/ansi/src/helpers.ts
  packages/ansi/src/hyperlink.ts
  packages/ansi/src/sixel.ts
  packages/ansi/src/sixel/color.ts
  packages/ansi/src/title.ts
  packages/ansi/src/window-ops.ts
Labels: package: ansi

test(ansi): add unit tests for primary device attributes
  packages/ansi/__tests__/unit/status.test.ts
Labels: package: ansi

chore: updated lock
  pnpm-lock.yaml
Labels: none

chore: update lock
  pnpm-lock.yaml
Labels: none

fix(ansi): update test setup and improve documentation formatting
  packages/ansi/__tests__/unit/helpers.test.ts
  packages/ansi/__tests__/unit/sixel-decoder.test.ts
  packages/ansi/src/alternative-screen.ts
  packages/ansi/src/clear.ts
  packages/ansi/src/cursor.ts
  packages/ansi/src/erase.ts
  packages/ansi/src/hyperlink.ts
  packages/ansi/src/image.ts
  packages/ansi/src/iterm2.ts
  packages/ansi/src/iterm2/iterm2-props.ts
  packages/ansi/src/iterm2/iterm2-sequences.ts
  packages/ansi/src/mouse.ts
  packages/ansi/src/passthrough.ts
  packages/ansi/src/screen.ts
  packages/ansi/src/scroll.ts
  packages/ansi/src/sixel/encoder.ts
  packages/ansi/src/xterm.ts
  packages/jsdoc-open-api/src/swagger-jsdoc/comments-to-open-api.ts
Labels: package: ansi, package: jsdoc-open-api

fix(ansi): enhance validation and error handling in ANSI helpers
  packages/ansi/__tests__/helpers.ts
  packages/ansi/__tests__/unit/iterm2.test.ts
  packages/ansi/__tests__/unit/screen.test.ts
  packages/ansi/__tests__/unit/sixel-color.test.ts
  packages/ansi/__tests__/unit/strip.test.ts
  packages/ansi/eslint.config.js
  packages/ansi/src/helpers.ts
  packages/ansi/src/iterm2.ts
  packages/ansi/src/iterm2/iterm2-properties.ts
  packages/ansi/src/iterm2/iterm2-sequences.ts
  packages/ansi/src/sixel/color.ts
  packages/ansi/src/sixel/raster.ts
  packages/ansi/src/title.ts
  packages/ansi/src/xterm.ts
Labels: package: ansi

fix(ansi): update ESLint rules and enhance package functionality
  packages/ansi/__fixtures__/package/cjs/test.cjs
  packages/ansi/__fixtures__/package/mjs/test.mjs
  packages/ansi/__tests__/integration/__snapshots__/package.test.ts.snap
  packages/ansi/__tests__/unit/cursor.test.ts
  packages/ansi/__tests__/unit/erase.test.ts
  packages/ansi/__tests__/unit/helpers.test.ts
  packages/ansi/__tests__/unit/mouse.test.ts
  packages/ansi/__tests__/unit/passthrough.test.ts
  packages/ansi/__tests__/unit/sixel-color.test.ts
  packages/ansi/__tests__/unit/sixel-decoder.test.ts
  packages/ansi/__tests__/unit/sixel-encoder.test.ts
  packages/ansi/__tests__/unit/sixel-palette.test.ts
  packages/ansi/__tests__/unit/sixel-repeat.test.ts
  packages/ansi/eslint.config.js
  packages/ansi/package.json
  packages/ansi/src/erase.ts
  packages/ansi/src/image.ts
  packages/ansi/src/index.ts
  packages/ansi/src/iterm2.ts
  packages/ansi/src/iterm2/iterm2-sequences.ts
  packages/ansi/src/mouse.ts
  packages/ansi/src/passthrough.ts
  packages/ansi/src/sixel.ts
  packages/ansi/src/sixel/color.ts
  packages/ansi/src/sixel/decoder.ts
  packages/ansi/src/sixel/encoder.ts
  packages/ansi/src/sixel/palette.ts
  packages/ansi/src/sixel/raster.ts
  packages/ansi/src/sixel/repeat.ts
  packages/ansi/src/sixel/types.ts
  packages/ansi/src/status.ts
  packages/ansi/src/termcap.ts
  packages/ansi/src/title.ts
  packages/ansi/src/window-ops.ts
  pnpm-lock.yaml
Labels: package: ansi

Discard changes to packages/jsdoc-open-api/src/swagger-jsdoc/comments-to-open-api.ts
  packages/jsdoc-open-api/src/swagger-jsdoc/comments-to-open-api.ts
Labels: package: jsdoc-open-api

fix(ansi): update type annotations and improve documentation
  packages/ansi/__tests__/unit/helpers.test.ts
  packages/ansi/__tests__/unit/iterm2.test.ts
  packages/ansi/src/index.ts
  packages/ansi/src/iterm2.ts
  packages/ansi/src/scroll.ts
  packages/ansi/src/window-ops.ts
Labels: package: ansi

fix(ansi): improved readme, added all files as export
  packages/ansi/README.md
  packages/ansi/package.json
Labels: package: ansi

style(package): cs fix
  packages/package/package.json
Labels: package: package

chore(release): @visulima/connect@3.0.20 [skip ci]\n\n## @visulima/connect [3.0.20](https://github.com/visulima/visulima/compare/@visulima/connect@3.0.19...@visulima/connect@3.0.20) (2025-05-30)
  packages/connect/CHANGELOG.md
  packages/connect/package.json
Labels: package: connect

Notes added by 'git notes add'
  18d6e0ae086c6b5d0258f5e69ee0a4a07b6a1225
Labels: none

Notes added by 'git notes add'
  88359c7c071890965a83767d4c0e676652600ffc
Labels: none

Notes added by 'git notes add'
  698fdb2cd4496f4a9d88c42701fce8d3467aa6af
Labels: none

chore(release): @visulima/path@1.3.6 [skip ci]\n\n## @visulima/path [1.3.6](https://github.com/visulima/visulima/compare/@visulima/path@1.3.5...@visulima/path@1.3.6) (2025-05-30)
  packages/path/CHANGELOG.md
  packages/path/package.json
Labels: package: path

Notes added by 'git notes add'
  2baa19b65d0388317e5748e411847bcc8b6f5a16
Labels: none

Notes added by 'git notes add'
  406aac525cf042076064319b96bb6968496f22b5
Labels: none

chore(release): @visulima/redact@1.0.15 [skip ci]\n\n## @visulima/redact [1.0.15](https://github.com/visulima/visulima/compare/@visulima/redact@1.0.14...@visulima/redact@1.0.15) (2025-05-30)
  packages/redact/CHANGELOG.md
  packages/redact/package.json
Labels: package: redact

Notes added by 'git notes add'
  1a1fc24496ce1b32c3747be914a74f1674a038e5
Labels: none

chore(release): @visulima/colorize@1.4.22 [skip ci]\n\n## @visulima/colorize [1.4.22](https://github.com/visulima/visulima/compare/@visulima/colorize@1.4.21...@visulima/colorize@1.4.22) (2025-05-30)
  packages/colorize/CHANGELOG.md
  packages/colorize/package.json
Labels: package: colorize

Notes added by 'git notes add'
  e6a87862ddf4b6d946e0ef7fbf12142d18b11468
Labels: none

chore(release): @visulima/crud@2.0.38 [skip ci]\n\n## @visulima/crud [2.0.38](https://github.com/visulima/visulima/compare/@visulima/crud@2.0.37...@visulima/crud@2.0.38) (2025-05-30)
  packages/crud/CHANGELOG.md
  packages/crud/package.json
Labels: package: crud

Notes added by 'git notes add'
  e0e2c539ac8724b5e03861e5583e510e82475392
Labels: none

chore(release): @visulima/ansi@1.1.0 [skip ci]\n\n## @visulima/ansi [1.1.0](https://github.com/visulima/visulima/compare/@visulima/ansi@1.0.18...@visulima/ansi@1.1.0) (2025-05-30)
  packages/ansi/CHANGELOG.md
  packages/ansi/package.json
Labels: package: ansi

Notes added by 'git notes add'
  6108083bcd8979e996dd8548b39a34108d4df569
Labels: none

Notes added by 'git notes add'
  662dfcf2bc1bc2c45b1f6b2adddcf60e8c258a1f
Labels: none

Notes added by 'git notes add'
  73ddad5baa2a3783cab8de053804933b5f76b201
Labels: none

Notes added by 'git notes add'
  83ee69fceb40faa57a2faeddb712a2206b1aab29
Labels: none

Notes added by 'git notes add'
  5a2230903616203b6fdada4326f2b5ab76bd12e0
Labels: none

Notes added by 'git notes add'
  5ab4c1ff6367d4bfe3290db6ccd0868a6de48301
Labels: none

Notes added by 'git notes add'
  e95ff2223f1675a52938bf0c838e23303e743eae
Labels: none

Notes added by 'git notes add'
  50b11f2a632c6e0a19fca377dd5f5892617e7b52
Labels: none

Notes added by 'git notes add'
  f6517fa3289373d4428a0135187cf5fd2b322c8a
Labels: none

Notes added by 'git notes add'
  8a94f7ee1b2fe0b39232ea2cc3b5b15e2fe97b96
Labels: none

Notes added by 'git notes add'
  f946dc3fa53927f2fa563f1bf386208874fa5feb
Labels: none

Notes added by 'git notes add'
  030bab72ed183440999a2cb231e1f4d624e7b82d
Labels: none

.github/labeler.yml:

'package: ansi':
  - 'packages/ansi/**/*'
'package: api-platform':
  - 'packages/api-platform/**/*'
'package: boxen':
  - 'packages/boxen/**/*'
'package: cerebro':
  - 'packages/cerebro/**/*'
'package: colorize':
  - 'packages/colorize/**/*'
'package: connect':
  - 'packages/connect/**/*'
'package: crud':
  - 'packages/crud/**/*'
'package: deep-clone':
  - 'packages/deep-clone/**/*'
'package: error':
  - 'packages/error/**/*'
'package: find-cache-dir':
  - 'packages/find-cache-dir/**/*'
'package: fmt':
  - 'packages/fmt/**/*'
'package: fs':
  - 'packages/fs/**/*'
'package: health-check':
  - 'packages/health-check/**/*'
'package: humanizer':
  - 'packages/humanizer/**/*'
'package: inspector':
  - 'packages/inspector/**/*'
'package: is-ansi-color-supported':
  - 'packages/is-ansi-color-supported/**/*'
'package: jsdoc-open-api':
  - 'packages/jsdoc-open-api/**/*'
'package: object':
  - 'packages/object/**/*'
'package: package':
  - 'packages/package/**/*'
'package: pagination':
  - 'packages/pagination/**/*'
'package: pail':
  - 'packages/pail/**/*'
'package: path':
  - 'packages/path/**/*'
'package: prisma-dmmf-transformer':
  - 'packages/prisma-dmmf-transformer/**/*'
'package: redact':
  - 'packages/redact/**/*'
'package: source-map':
  - 'packages/source-map/**/*'
'package: string':
  - 'packages/string/**/*'
'package: tabular':
  - 'packages/tabular/**/*'
'package: tsconfig':
  - 'packages/tsconfig/**/*'
