Repository visulima/visulima, changes with the labels that .github/labeler.yml gives for each.
All labels: package: ansi, package: api-platform, package: boxen, package: cerebro, package: colorize, package: connect, package: crud, package: deep-clone, package: error, package: find-cache-dir, package: fmt, package: fs, package: health-check, package: humanizer, package: inspector, package: is-ansi-color-supported, package: jsdoc-open-api, package: object, package: package, package: pagination, package: pail, package: path, package: prisma-dmmf-transformer, package: redact, package: source-map, package: string, package: tabular, package: tsconfig

fix(prisma-dmmf-transformer): update dependencies
  packages/prisma-dmmf-transformer/package.json
Labels: package: prisma-dmmf-transformer

chore(redact-bench): update devDependencies
  packages/redact/__bench__/package.json
Labels: package: redact

fix(redact): update dependencies
  packages/redact/package.json
Labels: package: redact

fix(source-map): update dependencies
  packages/source-map/package.json
Labels: package: source-map

chore(string-bench): update devDependencies
  packages/string/__bench__/package.json
Labels: package: string

fix(string): update dependencies
  packages/string/package.json
Labels: package: string

fix(tabular): update dependencies
  packages/tabular/package.json
Labels: package: tabular

chore(tsconfig): update devDependencies
  packages/tsconfig/package.json
Labels: package: tsconfig

chore: update lockfile and workspace config
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

fix(prisma-dmmf-transformer): update license information and add type-fest dependency
  packages/prisma-dmmf-transformer/LICENSE.md
  packages/prisma-dmmf-transformer/package.json
  packages/prisma-dmmf-transformer/src/properties.ts
  packages/prisma-dmmf-transformer/src/types.ts
Labels: package: prisma-dmmf-transformer

chore(dependencies): update package versions and add new dependencies in package.json and pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
Labels: none

fix(api-platform): downgrade swagger-ui-react and swagger-ui-dist to compatible versions
  packages/api-platform/package.json
Labels: package: api-platform

style: cs fixes
  packages/cerebro/LICENSE.md
  packages/fs/LICENSE.md
  packages/fs/README.md
  packages/object/LICENSE.md
  packages/package/src/index.ts
  packages/pagination/LICENSE.md
  packages/redact/LICENSE.md
  packages/string/LICENSE.md
  packages/string/__bench__/README.md
  packages/string/package.json
  packages/tabular/README.md
  packages/tsconfig/README.md
  tsconfig.eslint.json
Labels: package: cerebro, package: fs, package: object, package: package, package: pagination, package: redact, package: string, package: tabular, package: tsconfig

feat: adding a beautiful error page/overlay
  packages/flame/.eslintignore
  packages/flame/.eslintrc.cjs
  packages/flame/.npmignore
  packages/flame/.prettierignore
  packages/flame/.prettierrc.cjs
  packages/flame/.releaserc.json
  packages/flame/.secretlintignore
  packages/flame/.secretlintrc.cjs
  packages/flame/CHANGELOG.md
  packages/flame/LICENSE.md
  packages/flame/README.md
  packages/flame/package.json
  packages/flame/project.json
  packages/flame/tsconfig.dev.json
  packages/flame/tsconfig.eslint.json
  packages/flame/tsconfig.json
  packages/flame/tsup.config.ts
  packages/flame/vitest.config.ts
Labels: none

feat: more work on flame
  packages/flame/example/index.js
  packages/flame/package.json
  packages/flame/postcss.config.cjs
  packages/flame/project.json
  packages/flame/src/displayer/cli-displayer.ts
  packages/flame/src/displayer/http-displayer.ts
  packages/flame/src/template/components/code-block.ts
  packages/flame/src/template/components/title-bar.ts
  packages/flame/src/template/index.css
  packages/flame/src/template/index.ts
  packages/flame/src/template/layout.ts
  packages/flame/src/types.ts
  packages/flame/tailwind.config.cjs
  packages/flame/tsup.config.ts
  packages/flame/vitest.config.ts
Labels: none

feat: first working version of flame
  packages/flame/example/index.js
  packages/flame/package.json
  packages/flame/src/displayer/http-displayer.ts
  packages/flame/src/svg.d.ts
  packages/flame/src/template/components/code-block.ts
  packages/flame/src/template/components/error-card/exception-selector.ts
  packages/flame/src/template/components/error-card/index.ts
  packages/flame/src/template/components/error-card/solutions.ts
  packages/flame/src/template/components/header-bar/editor-selector.ts
  packages/flame/src/template/components/header-bar/index.ts
  packages/flame/src/template/components/header-bar/theme-toggle.ts
  packages/flame/src/template/components/raw-stack-trace.ts
  packages/flame/src/template/components/stack-trace-viewer/index.ts
  packages/flame/src/template/components/stack-trace-viewer/types.ts
  packages/flame/src/template/components/stack-trace-viewer/util/get-type.ts
  packages/flame/src/template/components/stack-trace-viewer/util/group-similar-types.ts
  packages/flame/src/template/components/title-bar.ts
  packages/flame/src/template/index.css
  packages/flame/src/template/index.ts
  packages/flame/src/template/layout.ts
  packages/flame/src/types.ts
  packages/flame/src/util/get-file-source.ts
  packages/flame/src/util/process.ts
  packages/flame/src/util/runtimes.ts
  packages/flame/tailwind.config.cjs
  packages/flame/tsup.config.ts
Labels: none

feat: more work on flame
  packages/flame/.env.example
  packages/flame/.eslintrc.cjs
  packages/flame/example/index.js
  packages/flame/package.json
  packages/flame/src/displayer/http-displayer.ts
  packages/flame/src/solution/openai/open-ai-finder.ts
  packages/flame/src/solution/openai/open-ai-solution-response.ts
  packages/flame/src/template/components/error-card/index.ts
  packages/flame/src/template/components/error-card/solutions.ts
  packages/flame/src/template/components/raw-stack-trace.ts
  packages/flame/src/template/index.ts
  packages/flame/src/template/layout.ts
  packages/flame/src/util/cache.ts
  packages/flame/tailwind.config.cjs
Labels: none

feat: more work on flame
  packages/flame/.eslintignore
  packages/flame/example/index.js
  packages/flame/package.json
  packages/flame/src/displayer/http-displayer.ts
  packages/flame/src/solution/error-hint-finder.ts
  packages/flame/src/solution/openai/open-ai-finder.ts
  packages/flame/src/solution/openai/open-ai-prompt.ts
  packages/flame/src/solution/openai/open-ai-solution-response.ts
  packages/flame/src/template/components/error-card/exception-selector.ts
  packages/flame/src/template/components/error-card/index.ts
  packages/flame/src/template/components/error-card/solutions.ts
  packages/flame/src/template/components/header-bar/index.ts
  packages/flame/src/template/components/raw-stack-trace.ts
  packages/flame/src/template/components/stack-trace-viewer/index.ts
  packages/flame/src/template/components/stack-trace-viewer/util/group-similar-types.ts
  packages/flame/src/template/index.ts
  packages/flame/src/template/layout.ts
  packages/flame/src/types.ts
  packages/flame/src/util/debug-log.ts
  packages/flame/src/util/find-language-based-on-extension.ts
  packages/flame/src/util/get-file-source.ts
  packages/flame/src/util/runtimes.ts
Labels: none

feat: added support for error cause
  packages/flame/example/index.js
  packages/flame/src/template/components/causes-viewer/index.ts
  packages/flame/src/template/components/error-card/index.ts
  packages/flame/src/template/components/raw-stack-trace.ts
  packages/flame/src/template/components/stack-trace-viewer/index.ts
  packages/flame/src/template/index.ts
Labels: none

chore: updated files
  packages/flame/package.json
  packages/flame/vitest.config.ts
Labels: none

chore(flame): update repo
  packages/flame/package.json
  packages/flame/src/template/components/stack-trace-viewer/index.ts
  packages/flame/tsconfig.dev.json
  packages/flame/tsconfig.eslint.json
  packages/flame/tsconfig.json
  packages/flame/tsup.config.ts
Labels: none

chore: update
  packages/flame/package.json
Labels: none

chore: more work
  package.json
Labels: none

feat: added sticky header, fixed deep tabs and collaps nesting on the page
  packages/flame/package.json
  packages/flame/src/solution/openai/open-ai-finder.ts
  packages/flame/src/template/components/error-card/index.ts
  packages/flame/src/template/components/error-card/solutions.ts
  packages/flame/src/template/components/error-card/sticky-header.ts
  packages/flame/src/template/components/stack-trace-viewer/index.ts
  packages/flame/src/template/index.ts
  packages/flame/src/util/cache.ts
  packages/flame/src/util/revision-hash.ts
Labels: none

feat: more work
  packages/flame/example/index.js
  packages/flame/package.json
  packages/flame/packem.config.ts
  packages/flame/postcss.config.cjs
  packages/flame/src/index.ts
  packages/flame/src/solution/openai/open-ai-finder.ts
  packages/flame/tsup.config.ts
Labels: none

chore: fixed audit check
  audit-ci.jsonc
Labels: none

chore: updated lock file [ci skip]
  pnpm-lock.yaml
Labels: none

ci(workflows): correct file extension from .yml to .yaml for cache-clear workflow
  .github/workflows/cache-clear.yml
Labels: none

chore: updated lock file [ci skip]
  pnpm-lock.yaml
Labels: none

fix(tabular): add terminal-size package as replace for the internal get-terminal-width utility
  package.json
  packages/tabular/LICENSE.md
  packages/tabular/package.json
  packages/tabular/src/grid.ts
  packages/tabular/src/utils/get-terminal-width.ts
  plop/package/.eslintignore.hbs
  plop/package/.prettierignore.hbs
  plop/package/.prettierrc.cjs.hbs
  plop/package/package.json.hbs
Labels: package: tabular

chore: remove quick-format-unescaped dependency from package.json
  packages/boxen/package.json
Labels: package: boxen

fix(package): @antfu/install-pkg is now bundled into the code
  packages/package/LICENSE.md
  packages/package/__fixtures__/workspaces/bad/package.json
  packages/package/package.json
Labels: package: package

chore(api-platform): downgrade express back to v4
  packages/api-platform/package.json
Labels: package: api-platform

chore(string): update dependencies in package.json and adjust test cases for string width calculations
  packages/string/__tests__/unit/get-string-truncated-width.test.ts
  packages/string/package.json
Labels: package: string

chore(dependencies): update various package versions in pnpm-lock.yaml, including express, @types/express, and babel packages
  pnpm-lock.yaml
Labels: none

chore(dependencies): update pnpm-lock.yaml to resolve version conflicts and ensure compatibility across various packages
  pnpm-lock.yaml
Labels: none

chore: updated lock file [ci skip]
  pnpm-lock.yaml
Labels: none

refactor(tests): improve formatting and organization in ANSI unit tests
  packages/ansi/__tests__/unit/alternative-screen.test.ts
  packages/ansi/__tests__/unit/helpers.test.ts
  packages/ansi/__tests__/unit/hyperlink.test.ts
  packages/ansi/__tests__/unit/image.test.ts
  packages/ansi/__tests__/unit/iterm2.test.ts
  packages/ansi/__tests__/unit/mode.test.ts
  packages/ansi/__tests__/unit/mouse.test.ts
  packages/ansi/__tests__/unit/reset.test.ts
  packages/ansi/__tests__/unit/screen.test.ts
  packages/ansi/__tests__/unit/scroll.test.ts
  packages/ansi/__tests__/unit/sixel-color.test.ts
  packages/ansi/__tests__/unit/sixel-encoder.test.ts
  packages/ansi/__tests__/unit/sixel-repeat.test.ts
  packages/ansi/__tests__/unit/status.test.ts
  packages/ansi/__tests__/unit/termcap.test.ts
  packages/ansi/src/cursor.ts
  packages/ansi/src/image.ts
  packages/ansi/src/iterm2/iterm2-sequences.ts
  packages/ansi/src/mode.ts
  packages/ansi/src/mouse.ts
  packages/ansi/src/sixel.ts
  packages/ansi/src/sixel/color.ts
  packages/ansi/src/sixel/decoder.ts
  packages/ansi/src/sixel/encoder.ts
  packages/ansi/src/sixel/palette.ts
  packages/ansi/src/sixel/repeat.ts
  packages/ansi/src/termcap.ts
  packages/ansi/src/xterm.ts
Labels: package: ansi

fix(ansi): correct CSI margin reset sequences in screen.ts
  packages/ansi/src/screen.ts
Labels: package: ansi

chore(ansi): update dependencies and improve ESLint configurations
  packages/ansi/__tests__/unit/alternative-screen.test.ts
  packages/ansi/__tests__/unit/clear.test.ts
  packages/ansi/__tests__/unit/erase.test.ts
  packages/ansi/__tests__/unit/helpers.test.ts
  packages/ansi/__tests__/unit/image.test.ts
  packages/ansi/__tests__/unit/iterm2.test.ts
  packages/ansi/__tests__/unit/mode.test.ts
  packages/ansi/__tests__/unit/mouse.test.ts
  packages/ansi/__tests__/unit/passthrough.test.ts
  packages/ansi/__tests__/unit/reset.test.ts
  packages/ansi/__tests__/unit/screen.test.ts
  packages/ansi/__tests__/unit/scroll.test.ts
  packages/ansi/__tests__/unit/sixel-color.test.ts
  packages/ansi/__tests__/unit/sixel-decoder.test.ts
  packages/ansi/__tests__/unit/sixel-encoder.test.ts
  packages/ansi/__tests__/unit/sixel-palette.test.ts
  packages/ansi/__tests__/unit/sixel-repeat.test.ts
  packages/ansi/__tests__/unit/status.test.ts
  packages/ansi/__tests__/unit/strip.test.ts
  packages/ansi/__tests__/unit/termcap.test.ts
  packages/ansi/__tests__/unit/title.test.ts
  packages/ansi/__tests__/unit/window-ops.test.ts
  packages/ansi/eslint.config.js
  packages/ansi/package.json
  packages/ansi/src/iterm2/iterm2-props.ts
  packages/ansi/src/iterm2/iterm2-sequences.ts
  packages/ansi/src/mode.ts
  packages/ansi/src/mouse.ts
  packages/ansi/src/sixel/color.ts
  packages/ansi/src/sixel/decoder.ts
  packages/ansi/src/sixel/encoder.ts
  packages/ansi/src/sixel/palette.ts
  packages/ansi/tsconfig.json
  pnpm-lock.yaml
Labels: package: ansi

.github/labeler.yml:

'package: ansi':
  - 'packages/ansi/**/*'
'package: api-platform':
  - 'packages/api-platform/**/*'
'package: boxen':
  - 'packages/boxen/**/*'
'package: cerebro':
  - 'packages/cerebro/**/*'
'package: colorize':
  - 'packages/colorize/**/*'
'package: connect':
  - 'packages/connect/**/*'
'package: crud':
  - 'packages/crud/**/*'
'package: deep-clone':
  - 'packages/deep-clone/**/*'
'package: error':
  - 'packages/error/**/*'
'package: find-cache-dir':
  - 'packages/find-cache-dir/**/*'
'package: fmt':
  - 'packages/fmt/**/*'
'package: fs':
  - 'packages/fs/**/*'
'package: health-check':
  - 'packages/health-check/**/*'
'package: humanizer':
  - 'packages/humanizer/**/*'
'package: inspector':
  - 'packages/inspector/**/*'
'package: is-ansi-color-supported':
  - 'packages/is-ansi-color-supported/**/*'
'package: jsdoc-open-api':
  - 'packages/jsdoc-open-api/**/*'
'package: object':
  - 'packages/object/**/*'
'package: package':
  - 'packages/package/**/*'
'package: pagination':
  - 'packages/pagination/**/*'
'package: pail':
  - 'packages/pail/**/*'
'package: path':
  - 'packages/path/**/*'
'package: prisma-dmmf-transformer':
  - 'packages/prisma-dmmf-transformer/**/*'
'package: redact':
  - 'packages/redact/**/*'
'package: source-map':
  - 'packages/source-map/**/*'
'package: string':
  - 'packages/string/**/*'
'package: tabular':
  - 'packages/tabular/**/*'
'package: tsconfig':
  - 'packages/tsconfig/**/*'
