Repository visulima/visulima, changes with the labels that .github/labeler.yml gives for each.
All labels: package: ansi, package: api-platform, package: boxen, package: cerebro, package: colorize, package: connect, package: crud, package: deep-clone, package: error, package: find-cache-dir, package: fmt, package: fs, package: health-check, package: humanizer, package: inspector, package: is-ansi-color-supported, package: jsdoc-open-api, package: object, package: package, package: pagination, package: pail, package: path, package: prisma-dmmf-transformer, package: redact, package: source-map, package: string, package: tabular, package: tsconfig

.github/labeler.yml:

'package: ansi':
  - 'packages/ansi/**/*'
'package: api-platform':
  - 'packages/api-platform/**/*'
'package: boxen':
  - 'packages/boxen/**/*'
'package: cerebro':
  - 'packages/cerebro/**/*'
'package: colorize':
  - 'packages/colorize/**/*'
'package: connect':
  - 'packages/connect/**/*'
'package: crud':
  - 'packages/crud/**/*'
'package: deep-clone':
  - 'packages/deep-clone/**/*'
'package: error':
  - 'packages/error/**/*'
'package: find-cache-dir':
  - 'packages/find-cache-dir/**/*'
'package: fmt':
  - 'packages/fmt/**/*'
'package: fs':
  - 'packages/fs/**/*'
'package: health-check':
  - 'packages/health-check/**/*'
'package: humanizer':
  - 'packages/humanizer/**/*'
'package: inspector':
  - 'packages/inspector/**/*'
'package: is-ansi-color-supported':
  - 'packages/is-ansi-color-supported/**/*'
'package: jsdoc-open-api':
  - 'packages/jsdoc-open-api/**/*'
'package: object':
  - 'packages/object/**/*'
'package: package':
  - 'packages/package/**/*'
'package: pagination':
  - 'packages/pagination/**/*'
'package: pail':
  - 'packages/pail/**/*'
'package: path':
  - 'packages/path/**/*'
'package: prisma-dmmf-transformer':
  - 'packages/prisma-dmmf-transformer/**/*'
'package: redact':
  - 'packages/redact/**/*'
'package: source-map':
  - 'packages/source-map/**/*'
'package: string':
  - 'packages/string/**/*'
'package: tabular':
  - 'packages/tabular/**/*'
'package: tsconfig':
  - 'packages/tsconfig/**/*'

Notes added by 'git notes add'
  bcbcf4a41e3eefa91a0e6b21abe8099625958554
Labels: none

Notes added by 'git notes add'
  21e46a5b4b322fe58a573143700644d44e5b2e1e
Labels: none

Notes added by 'git notes add'
  2dfed711189c2aab32a6212bd63fc4b4b44750c8
Labels: none

Notes added by 'git notes add'
  e8614213961d0bb043594aed983e2d9649c53985
Labels: none

Notes added by 'git notes add'
  ea50b14451d4b8baa2555360acf67c2723fc011d
Labels: none

fix(ansi): improved readme, added all files as export
  packages/ansi/README.md
  packages/ansi/package.json
Labels: package: ansi

style(package): cs fix
  packages/package/package.json
Labels: package: package

chore(release): @visulima/connect@3.0.20 [skip ci]\n\n## @visulima/connect [3.0.20](https://github.com/visulima/visulima/compare/@visulima/connect@3.0.19...@visulima/connect@3.0.20) (2025-05-30)
  packages/connect/CHANGELOG.md
  packages/connect/package.json
Labels: package: connect

chore(release): @visulima/redact@1.0.15 [skip ci]\n\n## @visulima/redact [1.0.15](https://github.com/visulima/visulima/compare/@visulima/redact@1.0.14...@visulima/redact@1.0.15) (2025-05-30)
  packages/redact/CHANGELOG.md
  packages/redact/package.json
Labels: package: redact

chore(release): @visulima/colorize@1.4.22 [skip ci]\n\n## @visulima/colorize [1.4.22](https://github.com/visulima/visulima/compare/@visulima/colorize@1.4.21...@visulima/colorize@1.4.22) (2025-05-30)
  packages/colorize/CHANGELOG.md
  packages/colorize/package.json
Labels: package: colorize

chore(release): @visulima/path@1.3.6 [skip ci]\n\n## @visulima/path [1.3.6](https://github.com/visulima/visulima/compare/@visulima/path@1.3.5...@visulima/path@1.3.6) (2025-05-30)
  packages/path/CHANGELOG.md
  packages/path/package.json
Labels: package: path

chore(release): @visulima/humanizer@1.2.1 [skip ci]\n\n## @visulima/humanizer [1.2.1](https://github.com/visulima/visulima/compare/@visulima/humanizer@1.2.0...@visulima/humanizer@1.2.1) (2025-05-30)
  packages/humanizer/CHANGELOG.md
  packages/humanizer/package.json
Labels: package: humanizer

chore(release): @visulima/error@4.4.17 [skip ci]\n\n## @visulima/error [4.4.17](https://github.com/visulima/visulima/compare/@visulima/error@4.4.16...@visulima/error@4.4.17) (2025-05-30)
  packages/error/CHANGELOG.md
  packages/error/package.json
Labels: package: error

chore(release): @visulima/fs@3.1.3 [skip ci]\n\n## @visulima/fs [3.1.3](https://github.com/visulima/visulima/compare/@visulima/fs@3.1.2...@visulima/fs@3.1.3) (2025-05-30)
  packages/fs/CHANGELOG.md
  packages/fs/package.json
Labels: package: fs

chore(release): @visulima/boxen@1.0.31 [skip ci]\n\n## @visulima/boxen [1.0.31](https://github.com/visulima/visulima/compare/@visulima/boxen@1.0.30...@visulima/boxen@1.0.31) (2025-05-30)
  packages/boxen/CHANGELOG.md
  packages/boxen/package.json
Labels: package: boxen

chore(release): @visulima/crud@2.0.38 [skip ci]\n\n## @visulima/crud [2.0.38](https://github.com/visulima/visulima/compare/@visulima/crud@2.0.37...@visulima/crud@2.0.38) (2025-05-30)
  packages/crud/CHANGELOG.md
  packages/crud/package.json
Labels: package: crud

chore(release): @visulima/tsconfig@1.1.17 [skip ci]\n\n## @visulima/tsconfig [1.1.17](https://github.com/visulima/visulima/compare/@visulima/tsconfig@1.1.16...@visulima/tsconfig@1.1.17) (2025-05-30)
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
Labels: package: tsconfig

chore(release): @visulima/package@3.5.5 [skip ci]\n\n## @visulima/package [3.5.5](https://github.com/visulima/visulima/compare/@visulima/package@3.5.4...@visulima/package@3.5.5) (2025-05-30)
  packages/package/CHANGELOG.md
  packages/package/package.json
Labels: package: package

chore(release): @visulima/tabular@1.0.5 [skip ci]\n\n## @visulima/tabular [1.0.5](https://github.com/visulima/visulima/compare/@visulima/tabular@1.0.4...@visulima/tabular@1.0.5) (2025-05-30)
  packages/tabular/CHANGELOG.md
  packages/tabular/package.json
Labels: package: tabular

chore(release): @visulima/string@1.2.3 [skip ci]\n\n## @visulima/string [1.2.3](https://github.com/visulima/visulima/compare/@visulima/string@1.2.2...@visulima/string@1.2.3) (2025-05-30)
  packages/string/CHANGELOG.md
  packages/string/package.json
Labels: package: string

chore(release): @visulima/cerebro@1.1.41 [skip ci]\n\n## @visulima/cerebro [1.1.41](https://github.com/visulima/visulima/compare/@visulima/cerebro@1.1.40...@visulima/cerebro@1.1.41) (2025-05-30)
  packages/cerebro/CHANGELOG.md
  packages/cerebro/package.json
Labels: package: cerebro

chore(release): @visulima/pail@2.1.23 [skip ci]\n\n## @visulima/pail [2.1.23](https://github.com/visulima/visulima/compare/@visulima/pail@2.1.22...@visulima/pail@2.1.23) (2025-05-30)
  packages/pail/CHANGELOG.md
  packages/pail/package.json
Labels: package: pail

chore: updated lock file
  pnpm-lock.yaml
Labels: none

chore: updated lock file [ci skip]
  pnpm-lock.yaml
Labels: none

chore: updated lock file
  pnpm-lock.yaml
Labels: none

chore: updated lock file [ci skip]
  pnpm-lock.yaml
Labels: none

fix(object): add isolated declaration transformer to packem configuration
  packages/object/packem.config.ts
Labels: package: object

fix(inspector): add isolated declaration transformer to packem configuration
  packages/inspector/packem.config.ts
Labels: package: inspector

chore(release): @visulima/object@1.0.11 [skip ci]\n\n## @visulima/object [1.0.11](https://github.com/visulima/visulima/compare/@visulima/object@1.0.10...@visulima/object@1.0.11) (2025-05-31)
  packages/object/CHANGELOG.md
  packages/object/package.json
Labels: package: object

Notes added by 'git notes add'
  f9d861de24b4bfb394f73541e8230864fc30a9c4
Labels: none

chore(release): @visulima/ansi@2.0.0 [skip ci]\n\n## @visulima/ansi [2.0.0](https://github.com/visulima/visulima/compare/@visulima/ansi@1.0.18...@visulima/ansi@2.0.0) (2025-05-31)
  packages/ansi/CHANGELOG.md
  packages/ansi/package.json
Labels: package: ansi

Notes added by 'git notes add'
  5e160df059815aa8771f6f67e6c5525890c48988
Labels: none

Notes added by 'git notes add'
  3865db2ce9adf6925514cfc1dc379fa7b790d3f7
Labels: none

chore(release): @visulima/pail@2.1.24 [skip ci]\n\n## @visulima/pail [2.1.24](https://github.com/visulima/visulima/compare/@visulima/pail@2.1.23...@visulima/pail@2.1.24) (2025-05-31)
  packages/pail/CHANGELOG.md
  packages/pail/package.json
Labels: package: pail

Notes added by 'git notes add'
  3e938d6f6d21c1a842ae281e6ff920c7a3e088ae
Labels: none

chore(release): @visulima/cerebro@1.1.42 [skip ci]\n\n## @visulima/cerebro [1.1.42](https://github.com/visulima/visulima/compare/@visulima/cerebro@1.1.41...@visulima/cerebro@1.1.42) (2025-05-31)
  packages/cerebro/CHANGELOG.md
  packages/cerebro/package.json
Labels: package: cerebro

Notes added by 'git notes add'
  8b7feabbd9b52898c1318d7a67ff20aa92787670
Labels: none

chore: updated lock file [ci skip]
  pnpm-lock.yaml
Labels: none

feat(string): add alignText function for text alignment and create unit tests
  packages/string/README.md
  packages/string/__bench__/slugify.bench.ts
  packages/string/__tests__/unit/align-text.test.ts
  packages/string/src/align-text.ts
  packages/string/src/index.ts
  packages/string/src/slice.ts
  packages/string/vitest.d.ts
Labels: package: string

chore(string): updated readme
  packages/string/README.md
Labels: package: string
